<% provide(:title, "Contact") %>

<h1>contact</h1>

<h2>don't be a stranger</h2>

<p>Let's have the most epic collab since <%= link_to "Gaga and Queen Bey",  "https://www.youtube.com/watch?v=EVBsypHzF3U" %>.

