<div>
<p>hannahraebauer@gmail.com   /   402.587.1945  /
<%= link_to "LinkedIn", "https://www.linkedin.com/in/hannahrbauer" %>   /   
<%= link_to "Twitter", "https://twitter.com/hannahrbauer" %>
</p>
<p>&copy;2021 <a href="https://www.sethstrouf.com">Seth Strouf</a></p>
</div>